<% include header %>

<h3>Choose the page you want to connect with us</h3>
<% pages.forEach(function(page) { %>
  <a href="/facebook/pages/chose"> <%= page.name %></a> <br>
<% }) %>

<% include footer %>
